<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mr-auto">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
        <a class="nav-item nav-link" href="/register">Register</a>
        <% if (user) {%>
          <span class="navbar-text ml mr-sm-2" >
            Logged in as <%= user.email %>!
          </span>
          <form class="form-inline" method="post" action="/logout">
            <button type="submit" class="btn btn-success">Logout</button>
          </form>
        <% } else {%>
          <form class="form-inline" method="post" action="/login">
            <a class="nav-item nav-link" href="/login">Login</a>
          </form>
        <% } %>
      </div>
      <!-- <% if (user) {%>
          <span class="navbar-text ml mr-sm-2" >
            Logged in as <%= user.email %>!
          </span>
          <form class="form-inline" method="post" action="/logout">
            <button type="submit" class="btn btn-outline-dark">Logout</button>
          </form>
        <% } else {%>
          <form class="form-inline" method="post" action="/login">
            <input type="text" name="username" class="form-control mr-sm-2" placeholder="Username"/>
            <button type="submit" class="btn btn-outline-dark">Login</button>
          </form>
        <% } %> -->
    </div>
  </nav>
</header>